.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

@media screen and (--viewport-sm) {
  .grid {
    grid-template-columns: repeat(2, minmax(225px, 1fr));
    gap: 1rem;
  }
}

@media (--viewport-md) {
  .grid {
    grid-template-columns: repeat(3, minmax(225px, 1fr));
    gap: 2rem;
  }
}

@media (--viewport-lg) {
  .grid {
    grid-template-columns: repeat(4, minmax(225px, 1fr));
    gap: 2rem;
  }
}

@media (--viewport-xl) {
  .grid {
    grid-template-columns: repeat(5, minmax(225px, 1fr));
    gap: 2rem;
  }
}
