.card {
  border: 2px solid var(--tek-clr-blue-rgba-20);
  color: var(--tek-clr-white-rgba-100);
  padding: 1rem;
  background: var(--tek-clr-black-rgba-70);
  border-radius: var(--tek-shape-radius-medium);
  display: flex;
  flex-direction: column;
}
