.container {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    var(--tek-clr-black-rgba-100) 0%,
    var(--tek-clr-black-rgba-30) 95%
  );
  backdrop-filter: blur(10px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
}

.nav ul {
  list-style: none;
  padding: 0.25rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  display: flex;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: var(--tek-clr-white-rgba-100);
  font-size: 0.875rem;
  padding: 1rem;
  border-radius: var(--tek-shape-radius-medium);
}

.nav a:hover,
.nav a:focus {
  text-decoration: none;
  background-color: var(--tek-clr-blue-rgba-30);
  outline: none;
}

@media (--viewport-sm) {
  .container {
    background: linear-gradient(
      to left,
      var(--tek-clr-black-rgba-100) 25%,
      var(--tek-clr-black-rgba-70) 60%,
      transparent 90%
    );
    backdrop-filter: none;
  }
  .nav ul {
    justify-content: flex-end;
  }
}

@media (--viewport-md) {
  .container {
    background: linear-gradient(
      to left,
      var(--tek-clr-black-rgba-100) 15%,
      var(--tek-clr-black-rgba-70) 50%,
      transparent 60%
    );
    backdrop-filter: none;
  }
  .nav ul {
    justify-content: flex-end;
  }
}

@media (--viewport-lg) {
  .container {
    background: linear-gradient(
      to left,
      var(--tek-clr-black-rgba-100) 25%,
      var(--tek-clr-black-rgba-70) 30%,
      transparent 60%
    );
    backdrop-filter: none;
  }
  .nav ul {
    justify-content: flex-end;
  }
}

@media (--viewport-xl) {
  .container {
    background: linear-gradient(
      to left,
      var(--tek-clr-black-rgba-100) 15%,
      var(--tek-clr-black-rgba-70) 20%,
      transparent 90%
    );
    backdrop-filter: none;
  }
  .nav ul {
    justify-content: flex-end;
  }
}
