.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: colume;
  width: 100%;
  background-color: var(--tek-clr-black-rgba-0);
}
.container {
  max-width: 100vw;
}

@media (--viewport-lg) {
  .main {
    align-items: stretch;
  }
}
